<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="#">Explore</a>
    <a href="http://localhost:3000/share">Share</a>
</div>

<!-- Open Sidebar Button -->
<button id="openNavButton" onclick="toggleNav()">&#9776;</button>