<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="/explore" class="pages">Explore</a>
    <a href="/search" class="pages">Search</a>
    <div class="nav_songs">
        <div class="currentplaying">
            <p class="heading">Top Songs</p>
        </div>
        <div class="loader">
            <div class="song">
                <a href="https://open.spotify.com/track/2tOOcDDYkh0PSjr6GwPEAJ" target="_blank">
                    <p class="name">Love Me Less</p>
                    <p class="artist">Max</p>
                </a>
            </div>
            <div class="albumcover"></div>
            <div class="loading">
                <div class="load"></div>
                <div class="load"></div>
                <div class="load"></div>
                <div class="load"></div>
            </div>
        </div>
        <div class="loader">
            <div class="song">
                <a href="https://open.spotify.com/track/1vvNmPOiUuyCbgWmtc6yfm" target="_blank">
                    <p class="name">My Way</p>
                    <p class="artist">Calvin Harris</p>
                </a>
            </div>
            <div class="albumcover"></div>
            <div class="play"></div>
        </div>
        <div class="loader">
            <div class="song">
                <a href="https://open.spotify.com/track/1qYKWcEOrh2tM8PlgIm8K1" target="_blank">
                    <p class="name">Sunday Best</p>
                    <p class="artist">Surfaces</p>
                </a>
            </div>
            <div class="albumcover"></div>
            <div class="play"></div>
        </div>
    </div>
    <a href="/profile" class="pages">Profile</a>
    <a href="/logout" class="pages">Logout</a>
</div>

<!-- Open Sidebar Button -->
<button id="openNavButton" onclick="toggleNav()">&#9776;</button>