
<div class="container">
{{#each postedSongs}}
  <div class="song-post">
    <div class="user-info">
      <img src="pfp" alt="Profile Picture">
      <span class="username">{{this.user}}</span>
    </div>
    <div class="post-info">
      <p>{{this.song}} + {{this.artist}}</p>
    </div>
  </div>
{{/each}}
</div>
