    <div class="login_container">
        <form class="login_form" method="POST" action="/login">
        <h3>SPOT-U LOGIN</h3>
        <label for="username_id">Username:</label>
        <br/>
        <input type="text" name="email" placeholder="Enter your username">
        <br/>
        <label for="password_id">Password:</label>
        <br/>
        <input type="password" name="password" placeholder="Enter your password">
        <br/>
        <input class="login" id="form_submit" type="submit" value="Sign in"/>
        </br>
        <p>Don't have an account? <a href="/register">Register</a></p> 
        </form>
    </div>