<body>
    <h1>SpotU</h1>

    <div class="container">
        <form class="login_form" method="POST" action="/login">
        <label for="username_id">Username:</label>
        <br/>
        <input class="input-group flex-nowrap border-0" type="text" name="email" placeholder="Enter your username">
        <br/>
        <label for="password_id">Password:</label>
        <br/>
        <input class="input-group flex-nowrap border-0" type="text" name="password" placeholder="Enter your password">
        <br/>
        <input class="input-group flex-nowrap border-0" id="form_submit" type="submit" value="Sign in"/>
        <p>Forgot Password?</p> <!--leads to password change process if were doing that-->
        </br>
        </form>
    </div>
</body>