    <div class="container">
        <form class="login_form" method="POST" action="/login">
        <h3>SPOT-U LOGIN</h3>
        <label for="username">Username:</label>
        <br/>
        <input type="text" name="username" placeholder="Enter your username">
        <br/>
        <label for="password">Password:</label>
        <br/>
        <input type="text" name="password" placeholder="Enter your password">
        <br/>
        <input class="login" type="submit" value="Sign in"/>
        </br>
        </form>
    </div>