<div class="card">
    <div class="card-info">
        <form>
            <p contenteditable="true" class="new_post_title" name="post_title">Post Title</p>
            <input class="new_post_search" id="fsrch" name="Song_Name" placeholder="Song Name">
        </form>
    </div>
</div>