<div class="registration_container">
    <form class="registration_from" method="POST" action="/register">
        <h3>SPOT-U Registration</h3>
        <label for="firstname_id">First Name:</label>
        <br />
        <input type="text" name="firstName" placeholder="Enter your first name" id="firstname_id">
        <br />
        <label for="lastname_id">Last Name:</label>
        <br />
        <input type="text" name="lastName" placeholder="Enter your last name" id="lastname_id">
        <br />
        <label for="username_id">Username:</label>
        <br />
        <input type="text" name="username" placeholder="Enter your username" id="username_id">
        <br />
        <label for="password_id">Password:</label>
        <br />
        <input type="password" name="password" placeholder="Enter your password" id="password_id">
        <br />
        <input class="registration" id="form_submit" type="submit" value="Sign Up" />
        </br>
        <p>Already have an account? <a href="/login">Login</a></p>
    </form>
</div>