<div class="container mt-5" style="align-self: right; width:75%;">
    <form>
        <input type="text" placeholder="Search for songs" style="color: white; border-radius: 20px; border:none;">
    </form>
</div>